<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/add">Add a Todo</a><br/>
<div th:each="todo : ${todos}">
       ID:     <h4 th:text="${todo.id}"></h4> //play around with this line, can make it look like the lines below but it shows up as double sets of answers
       Name:     [[${todo.name}]]<br/>
       Due Date: [[${todo.duedate}]]<br/>
       To-do Item: [[${todo.items}]]<br/>
</div>
</body>
</html>