<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${todo}"
      method="post">

    Task Name:<input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br/>
    Item:<input type="text" th:field="*{items}"/>
    <span th:if="${#fields.hasErrors('items')}"
          th:errors="*{items}"></span><br/>
    Due Date:<textarea rows="2" th:field="*{duedate}"/>
    <span th:if="${#fields.hasErrors('duedate')}"
          th:errors="*{duedate}"></span><br/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>